extends layout

block content
  h1.blue= title
  p List of all messages 📨
  img(src="https://media.giphy.com/media/UJS4fUKBaTc8o/giphy.gif", alt="harry potter")

  ul#messages
  script(src='/javascripts/messages.js')
